html {
  background-color: #F8F8FF;
}

#menu {
  background: url(images/curls.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

#logo-img {
  max-width: 250px;
  border-radius: 50%;
  display : block;
  margin : auto;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#menu .pure-menu-heading {
  background: indianred;
}

p {
  color: black;
}

#contact-list {
  list-style-type: none;
  padding: 30px;
  color: black;
  position: relative;
}

.contact-entry {
  margin: 15px;
}

#contact-list img {
  vertical-align: middle;
}

#contact-list a {
  color: black;
  text-decoration: none;
}

#contact-list a:hover {
  color: indianred;
  text-decoration: underline;
}

.contact-image {
  width: 50px;
  padding-right: 15px;
}

.project {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.project-image {
  max-width: 500px;
  border: 5px solid indianred;
}

